.inislogo{
    border-radius: 999px;
    margin-bottom: -1.5rem !important;
}
.geministitle{
    font-size: 3.5rem !important;
    font-family:Georgia, 'Times New Roman', Times, serif !important;

}
.tm-row_services{
    margin: 5% ;
    align-items: center;
    display: flex;

}
.services_tecnology{
    color: white;
}
.discord_contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: space-evenly;
    font-size: 1.2rem; */

   
}

.textodescripcion{
    text-align: justify;
}

.discord_contact_img{
    padding:5px;
    margin:5px;
}

.discord_contact_img > img{
    width: 128px;
    object-fit: contain;
}

.discord_img{
    width: auto;
    right: 1% !important;
    align-items:flex-end !important;
    display:    flex !important;
    flex-direction: column !important;
}

.inis_services{
    margin-top:50px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.inis_services_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    margin:5px;
}


.inis_services_item > img{
    width: 164px;
    object-fit: contain;

}

.inis_services_item > p{

}



.tm-btn > img {
    width:32px;
}

.tm-btn-discord:hover {
    color: #7faafa;
    border-color: #3f6fc8;
}

.tm-btn-enviar{
    display: inline-block;
    border: 1px solid #666;
    background-color: transparent;
    color: #999;
    font-size: 33px !important;
}